# Configurações do Banco de Dados
# Em desenvolvimento, usamos SQLite. Em produção na Vercel, recomenda-se PostgreSQL (ex: Vercel Postgres)
DATABASE_URL="file:./dev.db"

# NextAuth - Configurações de Autenticação
NEXTAUTH_URL="http://localhost:3000"
# Gere um segredo forte em produção usando `openssl rand -base64 32`
NEXTAUTH_SECRET="chave-secreta-para-ambiente-de-desenvolvimento"

# Flag para utilizar dados Mockados ao invés de buscar do banco (true/false)
USE_MOCK=false
